# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
*.local

# Make this visible because we're BUILDING LOCALLY
# and SHOWING IT on GITHUB PAGES because we have NO
# SERVER and are HOSTING a SINGLE PAGE APPLICATION!!!
!dist
!dist-ssr

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
