#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  margin: 0;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-family: TAYBreadPan; 
  font-size: 3rem;
}

.welcomeMessage {
  font-size: 1rem;
  line-height: 2rem; 
}

.iconAttribute {
  font-size: 0.5rem;
}

.asmallonigiri-logo {
  width: 100px;
  height: 100px;
  padding: none;
}

.footer {
  padding: 2rem;
  font-size: 0.80rem;
}
