@font-face {
  font-family: TAYBreadPan; 
  src: url(./assets/TAYBreadPan.woff); 
}

@font-face {
  font-family: TAYKula; 
  src: url(./assets/TAYKula.woff); 
}

:root {
  font-family: TAYBreadPan, sans-serif;
  line-height: 1.5;

  color-scheme: light dark;
  color: #4e4e4e;
  background-color: #bfd9ff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}