@font-face {
  font-family: TAYBreadPan; 
  src: url(./assets/TAYBreadPan.woff); 
}

@font-face {
  font-family: TAYKula; 
  src: url(./assets/TAYKula.woff); 
}

:root {
  font-family: TAYBreadPan, sans-serif;
  line-height: 1.5;

  color-scheme: light dark;
  color: #4e4e4e;
  background-color: #bfd9ff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-family: TAYBreadPan; 
  font-size: 3rem;
}

.welcomeMessage {
  font-size: 1rem;
  line-height: 2rem; 
}

body {
  margin: 0;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

footer {
  padding: 2rem;
  font-size: 0.80rem;
}

.iconAttribute {
  font-size: 0.5rem;
}

.dangoImage {
  height: 30px;
  width: 30px;
}

/* a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
} */

/* 
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
